<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">Authentification</ion-card-title>

      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input label="Votre Adresse Email" labelPlacement="floating"
          placeholder="entrer votre email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Votre Mot de passe" labelPlacement="floating"
          placeholder="entrer votre password" type="password"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
